.container {
  display: flex;
  flex-direction: column;
  margin-top: 50px;

  .title {
    font-weight: 700;
    font-size: 50px;
    text-transform: uppercase;
    margin-bottom: 25px;
  }

  .bg {
    position: fixed;
    z-index: -2;
    opacity: 7%;
    filter: blur(4px);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    user-select: none;
    object-fit: cover;
    animation: animatedBg 10s infinite alternate ease-in-out;
  }

  .genresContainer {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
  }

  .genresTitle {
    font-weight: 500;
    font-size: 25px;
    margin-right: 6px;
  }

  .genres {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    margin-top: auto;
    margin-bottom: 2px;
  }

  .descriptionContainer {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-width: 1500px;
    width: 100%;
    gap: 10px;
    margin-bottom: 35px;

    h2 {
      font-weight: 700;
      font-size: 25px;
      line-height: 29px;
      text-transform: uppercase;
    }

    .description {
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      color: var(--grayColor);
    }
  }

  .videoPlayerContainer {
    display: flex;
    max-width: 678px;
    flex-direction: column;
    position: relative;
    width: 100%;
    margin: 0 auto;
    border-radius: 12px;
  }

  .videoPlayer {
    display: flex;
    max-width: 100%;
    width: 100%;
    border-radius: 12px;
    box-shadow: 1px 5px 15px 0px #000000ba;

    video {
      display: flex;
      width: 100% !important;
      user-select: none;
      object-fit: cover;
      border-radius: 12px;
    }

    div {
      width: 100% !important;
    }
  }

  .selectContainer {
    display: flex;
    gap: 17px;
    position: absolute;
    top: 16px;
    left: 15px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    .title {
      font-size: 30px;
    }

    .description {
      font-size: 14px;
    }
  }
}

@media screen and (max-width: 425px) {
  .container {
    .title {
      font-size: 25px;
    }

    .descriptionContainer {
      h2 {
        font-size: 16px;
      }

      .description {
        font-size: 13px;
      }
    }

    .genresTitle {
      font-size: 18px;
    }
  }
}

@keyframes animatedBg {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.1);
  }
}
