@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

@font-face {
  font-family: RapierZero;
  src: url("./assets/fonts/Rapier-Zero.otf");
}

* {
  margin: 0;
  padding: 0;
}

body,
.App {
  box-sizing: border-box;
  max-height: 100%;
  min-height: 100vh;
  min-width: 100vw;
  overflow-x: hidden;
  margin: 0;
  font-family: Roboto;
}

.App {
  height: 100%;
  color: white;
  padding: 2% 5%;
}

#root {
  background: var(--darkBackground);
  margin: 0 auto;
  justify-content: center;
  color: white;
}

h2 {
  font-size: 50px;
  font-weight: 400;
}

.bg {
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  opacity: 7%;
  object-fit: cover;
  user-select: none;
  height: 100%;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  z-index: 5;
}

.LoadingModalTitle {
  color: #fff;
  margin: auto auto;
  outline: none;
}
